.profile-pic {
  height: 500px;
  border-radius: 100px;
}

.profile-div {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  /* margin: 40px; */
  font-family: "Courier New", Courier, monospace;
  background-color: black;
  padding: 50px;
}

.title-buttons-discription {
  width: 800px;
  height: 470px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-buttons {
  background-color: brown;
  margin: 10px;
  border: none;
  height: 30px;
  width: 100px;
  border-radius: 20px;
}

.profile-buttons:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(237, 231, 231, 0.758);
}

.title {
  font-size: xx-large;
  font-weight: 500;
}

.discription {
  font-size: large;
  font-weight: 300;
}

@media only screen and (max-width: 600px) {
  .profile-pic {
    height: 400px;
    border-radius: 100px;
  }

  .profile-div {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    /* margin: 40px; */
    font-family: "Courier New", Courier, monospace;
    background-color: black;
    padding: 10px;
    padding-top: 30px;
  }
}
