.movie-img {
  /* height: 10px; */
  margin-bottom: 10px;
  margin-left: 20px;
}

.movies-list {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  border: none;
  border-right: 1px solid #ccc;
  margin-top: 30px;
  height: 300px;
}

.movies-list-title {
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  font-size: large;
  margin-left: 3%;
}

.movies-list-header {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.movies-list-Link {
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  font-size: small;
  margin-right: 3%;
  padding-top: 40px;
  text-decoration: none;
  color: rgb(94, 2, 2);
}
.movies-list-Link:hover {
  text-decoration: underline;
}
