.movie-image {
  height: 200px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.movies-list {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  border: none;
  border-right: 1px solid #ccc;
  margin-top: 30px;
  scrollbar-width: thin;
}

.movies-list::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}

.movies-list::-webkit-scrollbar-thumb {
  background-color: #ab1111;
  border-radius: 20px;
  width: auto;
}

.movies-list-title {
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  font-size: large;
  margin-left: 3%;
}

.movies-list-header {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.movies-list-Link {
  font-family: "Courier New", Courier, monospace;
  font-weight: 900;
  font-size: medium;
  margin-right: 3%;
  padding-top: 40px;
  text-decoration: none;
  color: brown;
}
.movies-list-Link:hover {
  text-decoration: underline;
}

.img-div {
  margin-bottom: 0px;
}
