.postersList {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  border: none;
  border-right: 1px solid #ccc;
  margin-top: 30px;
  scrollbar-width: thin;
}

.postersList::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}

.postersList::-webkit-scrollbar-thumb {
  background-color: #ab1111;
  border-radius: 20px;
  width: auto;
}

.poster {
  margin-left: 20px;
  text-align: center;
}

.poster-title {
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  font-size: large;
  margin-left: 3%;
}

.poster {
  height: 400px;
}
