body {
  background-color: black;
  background-image: url("https://preview.redd.it/v4nhuh2hvgd71.gif?width=640&crop=smart&auto=webp&s=f37ffdb138ac9aa839f5fd77df283992fa749334");
  color: aliceblue;
  background-size: cover;
}

.comic-display {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.comic-img {
  height: 500px;
}

.comic-title {
  font-family: "Courier New", Courier, monospace;
  font-weight: 900;
  font-size: x-large;
  margin-right: 3%;
  padding-top: 40px;
  text-decoration: none;
  color: aliceblue;
  text-align: center;
}

.comic-story {
  font-size: medium;
}

.comic-info {
  margin-left: 20px;
  width: 600px;
}

.see-creator,
.marvel-website {
  color: brown;
}
.see-creator:hover,
.marvel-website:hover {
  text-decoration: underline;
  cursor: pointer;
}

.marvel-website {
  margin-bottom: 50px;
}

.add-later {
  margin-top: 30px;
  background-color: brown;
  border: none;
  height: 30px;
  border-radius: 20px;
  margin-bottom: 30px;
}
.add-later:hover {
  cursor: pointer;
}

.video-style-none {
  display: none;
}

.comic-display-none {
  display: none;
}

.video-style {
  display: flex;
  flex-direction: column;
  width: 700px;
  align-items: center;
  margin-left: 20%;
  margin-top: 5%;
}

.subscribe-button {
  height: 50px;
  background-color: burlywood;
  font-weight: 700;
}

.add-later-none {
  display: none;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: black;
    color: aliceblue;
    background-image: none;
  }
  .comic-display {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
  }

  .comic-title {
    font-family: "Courier New", Courier, monospace;
    font-weight: 900;
    font-size: large;
    margin-right: 3%;
    padding-top: 40px;
    text-decoration: none;
    color: aliceblue;
    text-align: center;
  }
  .comic-story {
    font-size: small;
  }

  .comic-info {
    margin-left: 20px;
    width: 350px;
  }

  .see-creator,
  .marvel-website {
    color: brown;
  }
  .see-creator:hover,
  .marvel-website:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .marvel-website {
    margin-bottom: 50px;
  }

  .add-later {
    margin-top: 30px;
    background-color: brown;
    border: none;
    height: 30px;
    border-radius: 20px;
  }

  .video-style {
    display: flex;
    flex-direction: column;
    height: 0px;
    width: 0px;
    margin-left: 40%;
    margin-top: 55%;
    justify-content: center;
  }
  .video-display {
    width: 500px;
  }

  .stop-wathcing {
    width: 100px;
  }
}
