.product-card-display {
  display: flex;
  justify-content: space-evenly;
  background-color: aliceblue;
  color: black;
  padding: 50px 20px;
  font-family: "Times New Roman", Times, serif;
  margin-top: 30px;
}

.product-image {
  border-radius: 10%;
}

.basic-info {
  margin-left: 40px;
  margin-right: 40px;
}

.options {
  display: flex;
  gap: 10px;
}

.inputs-check {
  margin-top: 30px;
}

.brand {
  font-size: x-large;
}

.description {
  margin-left: 20px;
  font-size: medium;
  font-weight: 0;
}

.more-info,
.see-more {
  margin-left: 20px;
}

.see-more {
  color: blue;
}

.see-more:hover {
  text-decoration: underline;
  cursor: pointer;
}

.more-info-none {
  display: none;
}

.see-more-none {
  display: none;
}

.add-to-cart {
  margin-left: 30px;
  margin-top: 30px;
  height: 30px;
  width: 100px;
  border: none;
  border-radius: 20px;
  background-color: rgb(224, 198, 66);
}

.add-to-cart:hover {
  cursor: pointer;
}

.number-of-items {
  display: flex;
}

.decrease-button,
.increase-button {
  height: 20px;
  margin-top: 13px;
  border: none;
  border-radius: 50%;
  background-color: rgb(224, 198, 66);
}

.decrease-button {
  margin-right: 5px;
}

.increase-button {
  margin-left: 5px;
}

.suggestions {
  display: flex;
  overflow-x: auto;
  margin-top: 30px;
  gap: 10px;
  margin-left: 15px;
  margin-bottom: 100px;
  scrollbar-width: thin;
}

.suggestions::-webkit-scrollbar {
  width: 12px;
  height: 7px;
}

.suggestions::-webkit-scrollbar-thumb {
  background-color: #ab1111;
  border-radius: 10px;
  height: 2px;
}

.suggestions::-webkit-scrollbar-track {
  background-color: #140e0e;
}

.suggestions-img {
  height: 150px;
  border-radius: 30px;
  margin-bottom: 10px;
}

.suggestions-title {
  font-family: "Courier New", Courier, monospace;
  font-weight: 900;
  font-size: x-large;
  margin-right: 3%;
  padding-top: 40px;
  text-decoration: none;
  color: aliceblue;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .product-card-display {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: aliceblue;
    color: black;
    padding: 50px 20px;
    font-family: "Times New Roman", Times, serif;
  }

  .product-image {
    border-radius: 10%;
  }

  .basic-info {
    margin-left: 40px;
    margin-right: 40px;
  }

  .options {
    display: block;
  }

  .title {
    margin-top: 50px;
  }

  .inputs-check {
    margin-top: 30px;
  }

  .brand {
    font-size: x-large;
  }

  .description {
    margin-left: 0px;
    font-size: medium;
    font-weight: 0;
  }

  .more-info,
  .see-more {
    margin-left: 0px;
  }

  .see-more {
    color: blue;
    margin-top: 40px;
  }

  .see-more:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .more-info-none {
    display: none;
  }

  .see-more-none {
    display: none;
  }

  .add-to-cart {
    margin-left: 0px;
    margin-top: 30px;
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 20px;
    background-color: rgb(224, 198, 66);
  }
}
