body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgb(19, 19, 19);
  opacity: 50%;
  background-image: url("https://preview.redd.it/v4nhuh2hvgd71.gif?width=640&crop=smart&auto=webp&s=f37ffdb138ac9aa839f5fd77df283992fa749334");
  background-size: cover;
  color: aliceblue; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
