.cart-title {
  font-family: "Courier New", Courier, monospace;
  font-weight: 900;
  font-size: large;
  margin-right: 3%;
  padding-top: 40px;
  text-decoration: none;
  color: aliceblue;
  margin-left: 35px;
}

.item-info {
  margin-right: 10px;
  font-family: "Courier New", Courier, monospace;
}

.delet-item,
.delet-watch {
  background-color: brown;
  border: none;
  border-radius: 5px;
  margin-bottom: 15px;
}

.delet-item:hover {
  cursor: pointer;
}

.price-tag {
  margin-left: 20px;
}

.delet-watch {
  margin-left: 20px;
  height: 30px;
}

.empty-cart-div {
  margin-left: 25px;
}

.shop-now-lik {
  text-decoration: none;
  color: brown;
}

.shop-now-lik:hover {
  text-decoration: underline;
}
