.watch-card {
  width: 150px;
  position: relative;
  margin-right: 10px;
}

.watch-img {
  height: 200px;
  width: 150px;
}

.watch-list {
  display: flex;
  overflow-x: auto;
  margin-top: 30px;
  gap: 10px;
  margin-left: 15px;
}

.watch-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
  height: 100%;
}

.watch-title-none {
  display: none;
}

.watch-header {
  margin-top: 100px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  font-size: large;
  margin-left: 3%;
}
